

header{
    background-color: green;
    color: white;
    margin: 5px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    padding: 10px 10px 0px 10px;
    justify-content: space-between;
    align-items: center;}

header img{
    margin-left: 0px;
    border-radius: 20px;
}

header div article{
    background-color: white;
    height: auto;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    align-items: center;
}
body{
    background-color: orange;
    margin: 10px 0px 10px 0px;
}
main{
    margin: 10px 10px 0px 10px;
}

main section article img{
    min-width: 100px;
    min-height: 100px;
    margin: 10px;
    border-radius: 20px;
    border: solid;
    border-color: darkorange;
    border-width: 2px;
}

footer{
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    bottom: 0;
    position: fixed;
    margin: 10px 10px 0px 0px;
    
    padding: 5px 0px;
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
section article{
    max-width: 400px;
    background-color: white;
    width: fit-content;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    
}
section article h2{
    color: black;
    text-align: center;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: fit-content;
    font-weight: bold;
    color: white;
    background-color: green;
    margin: 5px 0px;
}

.valor{
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 10px;
    min-width: 100px;
    min-height: fit-content;
    margin: 10px;
    border-radius: 20px;
    width: 20%;
 
}

.labeltamanho{
    background-color: orange;
    color: black;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    margin: 5px 0px;
    padding: 5px;
    width: fit-content;

}
.labelquantidade{
    background-color: orange;
    color: black;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    margin: 1px 0px;
    padding: 5px;
    width: fit-content;
}
.inputnumber{
    margin: 0px 10px 0 10px;
    width: 45px;
}

html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }